

<div class="map">
    <img class="mapChateau" [src]="chateauImage" alt="image du chateau">
</div>
<div class="boutonsG">
    <app-personnage></app-personnage>
    <img class="objet" src="assets/chateau/objets/coffre.png" alt="image du coffre" (click)="coffre()">
    <img class="objet" src="assets/chateau/objets/os.png" alt="image des os">
    <img class="objet" src="assets/chateau/objets/tonneau.png" alt="image tonneau" (click)="tonneau()">
    <img class="objet" src="assets/chateau/objets/skull.png" alt="image du crane" (click)="skull()">
    <img class="objet" src="assets/chateau/objets/epees.png" alt="image des epees">
    <img class="objet" src="assets/chateau/objets/piece.png" alt="image des pieces">
</div>
 <div class="boutonsD">
    <img class="objet" src="assets/chateau/objets/potionRouge.png" alt="image de la potion rouge">
    <img class="objet" src="assets/chateau/objets/potionVert.png" alt="image de la potion verte" (click)="lave()">
    <img class="objet" src="assets/chateau/objets/feu.png" alt="image du feu">
    <img class="objet" src="assets/chateau/objets/fleches.png" alt="image des fleches">
    <img class="objet" src="assets/chateau/objets/drapeau.png" alt="image du drapeau">
    <img class="objet" src="assets/chateau/objets/fenetre.png" alt="image de la fenetre" (click)="fenetre()">
    <img class="objet" src="assets/chateau/objets/porte.png" alt="image de la porte fermé" (click)="envoyerCodePorte()">
</div>
    
    
<div class="imageIndice" *ngIf="imageVisibleCode2">
    <img class="indice" [src]="cheminImageCode2" alt="code tonneau">
</div>


<div class="imageIndice" *ngIf="imageVisibleCode1">
    <img class="indice" [src]="cheminImageCode1" alt="code coffre">
</div>

<div class="imageIndice" *ngIf="imageVisibleSkull">
    <img class="indice" [src]="cheminImageSkull" alt="image indice crane">
</div>



<div class="imageIndice" *ngIf="imageVisibleCle">
    <img class="cle" [src]="cheminImageCle" alt="clé">
</div>
    
    
<div class="imageIndice" *ngIf="codePorteZoneTextVisible">
    <label for="texte">Le code :</label>
    <form (ngSubmit)="envoyerCodePorte()">
        <input type="text" id="codePorte" [(ngModel)]="codePorteText" name="texte" placeholder="...">
        <button type="submit">Envoyer</button>
    </form>
</div>



