
.mapChateau{
    width: 600px;
    height: auto;
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    position: fixed;
}

.boutonsG{
    display: flex;
    flex-direction: column;
    position: fixed;
    margin-left: 35px;
    margin-top: 15px;
    height: 100%;
}

.boutonsD{
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 100px; 
    right: 50px;
    height: 100%;
}

.objet{
    transition: transform 0.7s ease, opacity 0.9s ease;
    cursor: pointer;
    width: 80px;

    &:hover {
        transform: scale(1.1); /* agrandissment de l'image quand on passe la souri dessu */
        opacity: 0.7; /* image deviens moins visible quand on passe la sourie dessus */
        border: solid rgb(25, 216, 90);
    }
}

.indice{
    width: 200px;
}

.cle{
    width: 50px;
}

.imageIndice {
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
  }