@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

mat-toolbar {
  background-color: #e3f2fd; 
  color: #1976d2; 
  font-family: 'Anton', sans-serif;
  font-size: 24px; 
}

.space {
  flex: 1 1 auto;
}

