<mat-grid-list cols="4" rowHeight="2:1.5" >
  <mat-grid-tile [colspan]= 2 [rowspan]= 1.5>
    <div class="content">
      <div class = "imgJeu">
        <img src ="assets/img/chambre.png" alt="chambre">
      </div>
      <div class = "textJeu">
        <p>La chambre est un lieu mystérieux et captivant, où chaque recoin cache des indices cruciaux. En explorant méticuleusement cet espace confiné, vous serez amené à interagir avec des objets intrigants et à résoudre des énigmes complexes. Votre mission : percer les mystères de cette scène de crime et découvrir la vérité. Préparez-vous à vivre une enquête palpitante, où chaque détail compte et où votre perspicacité sera mise à l'épreuve !</p>
      </div>
      <a routerLinkActive="active-link" routerLink="/game/chambre/chambrePlay" >
        <button type="button" class="playButton">Jouer</button>
      </a>
    </div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="0.5" [rowspan]="0.5">
    <button mat-icon-button [style.background]="'lightpink'" (click)="likeBouton()">
      <mat-icon>thumb_up</mat-icon>
    </button>
  </mat-grid-tile>
  <mat-grid-tile [colspan]= 0.5 [rowspan]= 0.5>
    <div class="content"  >
      <form class="commentForm" [formGroup]="form" #formDirective="ngForm" (ngSubmit)="onSubmit(form.value)">
       <mat-form-field>
        <mat-label>Leave a comment</mat-label>
        <textarea matInput placeholder="Ex. It makes me feel..." formControlName="commentaryText"></textarea>
      </mat-form-field>
        <button color="accent" mat-raised-button type="submit"   [disabled]="form.invalid">envoyer</button>
      </form>
    </div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]= 2 [rowspan]= 0.5>
    <div class="content-comment">
      <mat-card *ngFor="let comment of commentaire$ | async">
        <button *ngIf="comment.userId === userId" mat-icon-button class="delete-button"  (click)="delete(comment.commentaryId)">
          <mat-icon color="warn">delete</mat-icon>
        </button>
        <div class="date">
          {{comment.created_at}}
        </div>
        <div class="bodyComment">
          {{comment.commentaryText}}
        </div>
      </mat-card>
    </div>
  </mat-grid-tile>
</mat-grid-list>

