/* chambre-play.component.scss */

.chambre-play {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
    overflow: hidden; 
  }
  
  .timer {
    position: absolute;
    top: 210px;
    right: 75px;
    font-size: 18px;
    font-weight: bold;
  }
  
  textarea {
    resize: none;
  }
  
  .room-image {
    width: 80%; 
    height: 80%; 
    object-fit: contain; 
    margin-left: -20px;
    margin-top: 25px; 
  }
  
  .chambre-play-info {
    text-align: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    position: absolute;
    top: -20;
    left: 0;
    right: 0;
  }  
  
  .btn-horloge {
    position: absolute;
    top: 34%;
    left: 71%;
    width: 80px;
    height: 80px;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  
  .btn-lampe {
    position: absolute;
    top: 19%;
    left: 40%;
    width: 70px;
    height: 70px;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  
  .btn-cadre {
    position: absolute;
    top: 39%;
    left: 61%;
    width: 90px;
    height: 90px;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  
  .green {
      color: green;
  }
  
  
  .btn-neuf {
    position: absolute;
    top: 90%;
    left: 53%;
    width: 43px;
    height: 43px;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  
  .btn-deux {
    position: absolute;
    top: 84%;
    left: 63%;
    width: 43px;
    height: 43px;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  
  .btn-cinq {
    position: absolute;
    top: 52%;
    left: 16%;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  
  .btn-trois {
    position: absolute;
    top: 89%;
    left: 13%;
    width: 43px;
    height: 43px;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  
  
  
  .btn-coffre {
    position: absolute;
    top: 65%;
    left: 36%;
    width: 100px;
    height: 100px;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  
  .btn-tele {
    position: absolute;
    top: 28%;
    left: 6%;
    width: 150px;
    height: 150px;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  
  .btn-fenetre {
    position: absolute;
    top: 43%;
    left: 53%;
    width: 90px;
    height: 250px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    z-index: 1;
  }
  
  
  
  .btn-couteau {
    position: absolute;
    top: 91%;
    left: 18%;
    width: 150px;
    height: 20px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    z-index: 1;
  }
  
  .safe-interface {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  .safe-interface h3 {
    margin-top: 0;
  }
  
  .code-input {
    margin-bottom: 20px;
  }
  
  .code-input input {
    width: 100px;
    padding: 5px;
    font-size: 16px;
  }
  