.textPerso{
    color: white;
    font-weight: bold;
}

.encadrePerso {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: solid white;
    padding: 10px;
    width: 300px;
    margin-top: 30px;
}

.perso {
    margin-right: 20px;
    width: 50px;
}
