.objetChateau{
    width: 50%;
    height: auto;
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    margin-top: 30px;
    z-index: 2;
}

.zoneClick {
    position: absolute;
    z-index: 7;
    &:hover {
        opacity: 0.7; /* image deviens moins visible quand on passe la sourie dessus */
        border: solid rgb(25, 216, 90);
    }
}


.cartesIndice {
    position: absolute; 
    top: 55%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    z-index: 4;
  }