
<!-- zone de click cartes indice -->
<div class="zoneClick" style="top: 33.7%; left: 70.5%; width: 1.5%; height: 3.5%; " (click)="cartes()"></div>
<!-- zone de click crane pièce secrète -->
<div class="zoneClick" style="top: 33.7%; left: 67.5%; width: 2%; height: 3.5%; " (click)="craneTable()"></div>
<!-- zone de click porte -->
<div class="zoneClick" style="top: 21%; left: 48.6%; width: 2.6%; height: 7%;" (click)="envoyerCodePorte()"></div>
<!-- zone de click flame couloir -->
<div class="zoneClick" style="top: 82%; left: 55%; width: 2%; height: 4%;" ></div>
<!-- zone de click flame porte droite -->
<div class="zoneClick" style="top: 23%; left: 52.5%; width: 2%; height: 4%;" (click)="flamePorte()"></div>
<!-- zone de click vase -->
<div class="zoneClick" style="top: 44%; left: 70%; width: 2.3%; height: 5%;" (click)="validerCodePorte()"></div>

<img class="objetChateau" src="assets/chateau/map/mapChateauPieceSecrete.png" alt="image de la pièce secrète">


<!-- porte sortie escape game -->
<div class="map" *ngIf="porteOn">
    <img class="objetChateau" src="assets/chateau/map/mapChateauPorteOuverte.png" alt="image de la porte ouverte">
    <button class="sortir" (click)="sortirChateau()">Sortir</button>
</div>

<div class="map" *ngIf="scoreJoueurEcranOn">
    <app-score-fin [totalScore]="totalScore" class="score"></app-score-fin>
</div>

<!-- changement de position du crane de la pièce secrète -->
<div *ngIf="crane">
    <img class="objetChateau" [src]="cheminImageCrane" alt="image du crane">
</div>

<div class="map" *ngIf="flameCouloirOn">
    <img class="objetChateau" [src]="cheminImageFlameCouloir" alt="image de la flamme alumée">
</div>

<div class="map" *ngIf="flamePorteOn">
    <img class="objetChateau" src="assets/chateau/map/objets/flamePorteDroit.png" alt="image de la flamme alumée">
</div>


<!-- formulaire pour envoyer le code de la porte de sortie finale -->
<div class="cartesIndice" *ngIf="codePorteZoneTextVisible">
    <label for="texte">Le code :</label>
    <form (ngSubmit)="envoyerCodePorte()">
        <input type="text" id="codePorte" [(ngModel)]="codePorteText" name="texte" placeholder="...">
        <button type="submit">Envoyer</button>
    </form>
</div>

<!-- aparition des  cartes avec les indices d'ouverture de la porte -->
<div class="cartesIndice" *ngIf="cartesOn">
    <app-cartes-indice></app-cartes-indice>
</div>

