<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="side" [(opened)]="opened">
    <div style="padding: 1rem">
      <h1 class="title">Filtre : </h1>
      <h2>Difficulté :</h2>
      <mat-checkbox checked="true" (change)="filterGames()" [(ngModel)]="facile">Facile</mat-checkbox>
      <mat-checkbox checked="true" (change)="filterGames()" [(ngModel)]="moyen">Moyen</mat-checkbox>
      <mat-checkbox checked="true" (change)="filterGames()" [(ngModel)]="difficile">Difficile</mat-checkbox>
      <mat-checkbox checked="true" (change)="filterGames()" [(ngModel)]="extreme">Extrême</mat-checkbox>
      <h2>Thèmes :</h2>
      <mat-checkbox checked="true" (change)="filterGames()" [(ngModel)]="jeuxVideos">Jeux-vidéos</mat-checkbox>
      <mat-checkbox checked="true" (change)="filterGames()" [(ngModel)]="casseTetes">Casse-têtes</mat-checkbox>
      <mat-checkbox checked="true" (change)="filterGames()" [(ngModel)]="culture">Culture</mat-checkbox>
      <mat-checkbox checked="true" (change)="filterGames()" [(ngModel)]="dev">Dev</mat-checkbox>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <button 
      mat-button (click)="sidenav.toggle()"
      class="sidenav-bouton"
    >Filtre
      <mat-icon icon>chevron_right</mat-icon>
    </button>
    <div class="home-container">
      <app-search-bar></app-search-bar>

      <div class="section-carousel">
        <div class="carousel">
          <app-carousel [titreSection]="'Didactitielle :'"></app-carousel>
        </div>

        <div class="carousel">
          <app-grid [titreSection]="'Tous les jeux :'"></app-grid>
        </div>

        
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
