<div class="carousel">
  <h2>Mode Histoire</h2>
  <swiper-container loop="true" navigation="true" slides-per-view="3" space-between="0">
    <swiper-slide class ="carouselElement">
      <img src = "assets/img/chambre.png" alt = "chambre">
    </swiper-slide>
    <swiper-slide class ="carouselElement">
      <img src = "assets/img/prison.jpg" alt = "prison">
    </swiper-slide>
    <swiper-slide class ="carouselElement">
      <img src = "assets/img/chateau.jpg" alt = "chateau">
    </swiper-slide>
    <swiper-slide class ="carouselElement">
      <img src = "assets/img/espace.jpg" alt = "espace">
    </swiper-slide>
    <swiper-slide class ="carouselElement">
      <img src = "assets/img/hopital.jpg" alt = "hopital">
    </swiper-slide>
    <swiper-slide class ="carouselElement">
      <img src = "assets/img/jardin.jpg" alt = "jardin">
    </swiper-slide>
  </swiper-container>
</div>


