.titre{
  font-style: bold;
  margin: 30px 20px 5px; /* Haut, gauche droite, Bas */
}



img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

    &:active{
      border: 3px solid blue;
    }
}

.carousel{
  margin-top : 10px;
}

/*l'image et le titre du niveau*/
.carouselElement {
  position: relative;
  padding: 20px; /* espacement des images */
  transition: transform 0.7s ease, opacity 0.9s ease;
  cursor: pointer;

  &:hover {
    transform: scale(1.1); /* agrandissment de l'image quand on passe la souri dessu */
    opacity: 0.5; /* image deviens moins visible quand on passe la sourie dessus */
  }

}

.tritreNiveau{
  position: absolute;
  padding: 5px 10px;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(255, 255, 255, 0.7); /* Pour rendre le texte plus lisible */
}



