<div class="carousel">
  <h2>Mode Histoire</h2>
  <swiper-container loop="true" navigation="true" slides-per-view="3" space-between="0">
    <swiper-slide class ="carouselElement">
      <a routerLinkActive="active-link" routerLink="/game/chambre">
        <img src = "assets/img/chambre.png" alt = "chambre">
      </a>
    </swiper-slide>
    <swiper-slide class ="carouselElement">
      <a routerLinkActive="active-link" routerLink="/game/prison">
        <img src = "assets/img/prison.jpg" alt = "prison">
      </a>
    </swiper-slide>
    <swiper-slide class ="carouselElement">
      <a routerLinkActive="active-link" routerLink="/game/chateau">
        <img src = "assets/img/chateau.jpg" alt = "chateau">
      </a>
    </swiper-slide>
    <swiper-slide class ="carouselElement">
      <a routerLinkActive="active-link" routerLink="/game/espace">
        <img src = "assets/img/espace.jpg" alt = "espace">
      </a>
    </swiper-slide>
    <swiper-slide class ="carouselElement">
      <a routerLinkActive="active-link" routerLink="/game/jardin">
        <img src = "assets/img/jardin.jpg" alt = "jardin">
      </a>
    </swiper-slide>
    <swiper-slide class ="carouselElement">
      <a routerLinkActive="active-link" routerLink="/game/hopital">
        <img src = "assets/img/hopital.jpg" alt = "hopital">
      </a>
    </swiper-slide>
  </swiper-container>
</div>


