.search-bar {
    background-color: pink;
    border-radius: 20px;
    padding: 10px;
    display: inline-flex;
    align-items: center;
    width: 300px;
  }

  .loupe {
    background-color: pink;
    border: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 25px;
  }

.recherche {
    border: none;
  border-radius: 15px;
  padding: 5px 10px;
  font-size: 16px;
  outline: none;
  margin-left: 10px;
  flex-grow: 1;
}

.search-container {
    position: relative;
}

.suggestions {
    position: absolute;
    width: 100%;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    z-index: 1;
}

.suggestions {
  position: absolute;
  width: auto;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  z-index: 1;
  margin-top: 2px;
  top: 70%;
  left: 70px;
}